{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h1>Bewerbung</h1>
  <p>Fülle das Bewerbungsformular aus:</p>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Max Mustermann">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail:</label>
      <input type="email" class="form-control" id="email" placeholder="max@example.com">
    </div>
    <div class="mb-3">
      <label for="studiengang" class="form-label">Studiengang:</label>
      <select class="form-select" id="studiengang">
        <option>Informatik</option>
        <option>BWL</option>
        <option>Medien</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Absenden</button>
  </form>
</div>
{% endblock %}
